.terms-tags li {
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px;
}


.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--theme);
    border-radius: 6px;
    border: 0px solid var(--border);
    font-size: var(--home-size);
}

.terms-tags a:hover {
    background: var(--orange);
    color: var(--theme);
    border: 0px solid var(--blue);
}

